.srchFltr-Con{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 60px;  /* remove if content container is modified */
    margin-bottom: 48px;
    
}
.searchfilter-box{
    width: 80%;
    height: 140px;
    background-color: #FFF;
    box-shadow: var(--primaryShadow);
    border-radius: var(--primaryBRadius);
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-self: center;
    
}
.fltr-col{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow-y: scroll;
}
.fltr-col h6{align-self: center;}
.fltr-col span{cursor: pointer;}
.fltr_items{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow-y: scroll;
}
.fltr_items span:hover{background-color:#c9f4f3;}