
.section {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 100px;
    margin-right: 100px;
    gap: -20px;
  }
  
  .section h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    flex-basis: 15%; /* add this style to make the headings equal width */
    font-size: medium;
  }
 /* furniture Categories Styling */
.AutoCategory {width: 100%; height:180px;display: flex; z-index: 99; position: relative;margin-top:48px; margin-bottom: 48px;  justify-content: center;  left: 20%;}
.AutoCategory ul{width: 100%; height: 100%; display: flex; align-content: center; align-items: center; gap: 20px; position:relative;}
.AutoCategory ul li{display: flex;flex-direction: column; list-style: none; width:136px; height:148px; background-color: #FFF; border-radius:15px; text-align: center; cursor: pointer; position: relative; padding: 5px; box-shadow:0px 10px 18px -2px rgba(16, 25, 40, 0.07);} /* height will be adjusted to 80px to accomodate background image */
.AutoCategory ul li:hover{transform: scale(1.02);}
.AutoCategory ul li .CatgName{position: relative; top: 0px; font-size: small; bottom: 20px; }
.AutoCategory ul li .CatgIcon{font-size: 70px;  margin-bottom: 0; margin-top: -10px;}
.AutoCategory ul li img{height: 70%; width:100% ; border-radius:10px;object-fit: cover;}
.AutoCategory ul li h6{margin-top: -20px; font-weight: 300;}

/* Categories submenu */
.AutoCategory ul li > ul{background-color: #FFF; color: #FFF;width:90vw;height: 300px; border: 0.5px solid #D9D9D9; top: 8px; display:none; position:relative;padding: 0;}
.AutoCategory ul li > ul li {width:100%; height: auto; background-color: transparent; cursor: pointer; color: #000; border-radius: 0px;}
.AutoCategory ul li ul li:hover{ background: #D9D9D9;}
.AutoCategory ul li:hover ul{display:inline-flex; z-index: 999;}