.cartpage{
    display: flex;
}

.cartcontainer{
    width: 50vw;
    min-height: 100vh;
    float: left;
    padding-top: 120px;
}

.cartinfo{
    width: 50vw;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.cartproduct{
    width: 100%;
    min-height: 190px;
    display: flex;
    padding: 5px;
    gap: 20px;
}

.cartproductimgcontainer{
    width: 400px;
    height: 140px;
    margin-left: 55px;
}

.cartproductimg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cartproductnamecontainer{
    width: 600px;
    height: 140px;
    margin-left: 10px;
    display: block;
    text-align: center;
}

.cartproductpricecontainer{
    width: 30%;
    height: 140px;
    margin-left: 10px;
    display: block;
    text-align: center;
}

.cartsubmit{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.ordersummary{
    margin-bottom: 0;
}

.promocode{
    margin-top: 0;
}

.subtotal{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.ordertotal{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}