.productscontainer{
  width: 100%;
  min-height: 50vh;
  margin: 0;
}

.productspagetitle{
  width: 100%;
  height: 50px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: baseline;
  font-size: x-large;
  padding-top: 0.5%;
  margin-bottom: 10px;
}

.productssection{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-left: 40px;
}

.productbox{
  width: 300px;
  height: 300px;
  margin: 0.5%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  background: white;
  text-align: center;
  justify-content: center;
  display: block;
  padding: 10px;
}

.imagedisplay{
 width: 100%;
 height: 50%;
 justify-content: center;
 align-items: center;
}

.actimage{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.namesprice{
  text-align: center;
  width: 100%;
  height: 35%;
  margin-top: 5%;
  font-size: medium;
  display: grid;
  align-items: center;
  justify-content: center;
}

.addcartbtnsection{
  width: 100%;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.addcartbtn{
  background-color: blueviolet;
  font-size: larger;
  width: 80%;
  border-radius: 25px;
}

.cartbttn{
  background-color: red;
  align-self: flex-end;
  margin-left: 700px;
  color: white;
  margin-top: 20px;
  font-size: large;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}