
.filter-sidebar {
  width: 15%;
  position: fixed;
  color: F9F9F9;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="range"] {
    width: 100%;
    margin-top: 5px;
  }
  
  .product-view--sort {
    border-radius: 15px;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;


  }