.j-bidContainer{
    margin-top: 100px; 
    width: 400px;
    height: 210px;
    position: relative;
    display: flex;
    background-color: #F4F4F7;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    border-radius: 20px;
}
.j-bidContainer input{
    height: 30px;
}
.bidrecomm{margin-bottom: 8px;display: flex; flex-direction: row; gap: 8px; justify-content: center; align-items: center;margin-top: 48px;margin-bottom: 28px;}
.bidrecomm span{background-color: #FFF; padding: 2px 8px; cursor: pointer; border-radius: 16px;}
.bidinput{display: flex; flex-direction: row; gap: 8px; justify-content: center;align-items: center;}
.j-bidContainer .placebid{border-radius:50px; font-weight: 400;min-height: 2rem;padding-right: 24px;padding-left:24px; background-color: #032C0A;}
.j-bidContainer p{font-size: 0.8rem; padding: 8px; display: flex; flex-direction: row; bottom: -8px; position:absolute;}