.signupin{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signupout{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 90%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.overviewbody{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}