.signupcontainer{
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.navcontainer{
    margin-bottom: 5px;
}

.formcontainer{
    display: block;
}

.formitems{
    display: flex;
    margin-bottom: 10px;
}

.fnameinput{
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.lnameinput{
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.signuppass{
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.passwordhintcontainer{
    display: block;
    margin-bottom: 10px;
    display: none;

}

.phoneinput{
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.emailinput{
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.dobinput{
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d5d2d2d3;
    padding-left: 5px;
}

.checkboxitems{
    display: flex;
    margin: 15px;
    gap: 5px;
}

.signupbtncontainer{
    float: right;
}

.signupbtn{
    padding: 10px 15px;
    width: 50%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: small;
}

.validEmail{
    cursor:pointer;
    font-size:2rem;
}
.validEmail:hover{color: darkgray;}