.signupcontainer{
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.navcontainer{
    margin-bottom: 5px;
}

.formcontainer{
    display: block;
}

.formitems{
    display: flex;
    margin-bottom: 20px;
}

.fnameinput{
    margin: 5px;
    width: 150px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.lnameinput{
    margin: 5px;
    width: 150px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.signuppass{
    margin: 5px;
    width: 300px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.passwordhintcontainer{
    display: block;
    margin-bottom: 20px;
}

.phoneinput{
    width: 300px;
    height: 45px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.emailinput{
    width: 300px;
    height: 45px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.dobinput{
    width: 300px;
    height: 45px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    padding-left: 5px;
}

.checkboxitems{
    display: flex;
    margin: 15px;
    gap: 5px;
}

.signupbtncontainer{
    float: right;
}

.signupbtn{
    background-color: black;
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
}