@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #FFF;}

.mainContainer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer{
    width: 260px; 
    height: 428px;
    padding: 0;
    background-color:#F9F9F9;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    border-radius: 10px;
    }
.cardContainer:hover{transform: scale(1.01);}
.cardContainer:hover .buybidButton{opacity: 1;}
.cardContainer p{text-align: center;}
.cardContainer .itemName{font-weight: 500;margin-top: 15px; font-size: 13px;}
.cardContainer .itemBriefDscr{font-size:x-small;color: #696663;}

.gShadow{
    border-radius: 10px;
    box-shadow: 1px 1px  5px rgba(0, 0, 0, 0.25);
}
.itemIMG{
    padding: 0;
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
   
}


.cardContainer .itemPrice{
    width:100%; 
    position: absolute; 
    bottom: 60px; 
    font-size: 16px; 
    font-weight: 600; 
}
.buybidButton{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #44423f;
    color: #FFF;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    align-self: center;
    bottom: 40px;
    opacity: 0;
    transition-timing-function: ease-in;
    
}
.buybidButton:hover{background-color:#696663;}
.cardContainer .itemConditionTag{
    position: absolute;
    top: 35px; 
    background-color: #dfd9d3;
    width: 60px; 
    border-radius: 0 10px 10px 0px;
    font-size:small; 
    font-weight: 200;
}
.cardContainer .auctionTime{
    position: absolute;
    top: 10px; 
    background-color: #cccccc; 
    border-radius: 0 10px 10px 0px; 
    font-size: 10px;
    padding:1px 5px 1px 1px;}

.cardContainer .favoriteIcon{position: absolute;right:1px;top:1px; font-size: 20px;background-color: #D9D9D9;color: #FFF; border-radius: 50%; width: 25px;height: 25px; padding:3px; cursor: pointer;}
.favoriteIcon:hover{background-color: transparent; color: rgb(0, 128, 255);}
.cardContainer .shoppingcartIcon{position: absolute;bottom:-5px;right:-5px; font-size: 20px;background-color: #D9D9D9;color: #FFF; border-radius: 50%; width: 45px;height: 45px; padding:9px;cursor: pointer;}
.shoppingcartIcon:hover{transform: scale(1.1); background-color: #44423f;}

.sellButton{
    text-align: center;
    background-color: #0d9a37;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    position: fixed;
    bottom: 50px;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

/* Navigation Bar/ Header styling */

.navBarv0{ 
    height: 50px; 
    width: 100%; 
    background: linear-gradient(to right,#eeeeee,15%, transparent 20%), 
                linear-gradient(to left,#eeeeee,15%,transparent 20%);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}
.navBarv0 .left{height: 50px;width: 250px; line-height:50px; padding-left: 40px;font-weight: bolder; font-size: x-large; font-family:sans-serif;display:flex; align-items: center; justify-content: space-between;}
.navBarv0 .center{width: 40%; position: relative; align-self: center; margin: 0 auto;}
.navBarv0 .right{width: 250px; display: flex;justify-content:space-evenly;padding-right: 20px;}
.navBarv0 .right > ul{display: flex;column-gap: 10px; justify-content: center;align-items: center; margin-bottom: 0; font-size: 1.5rem;}
.navBarv0 .right >ul > li{display:flex;width:50px; height: 100%;vertical-align: middle; justify-items: center; justify-content: center; flex-direction: column;}
.navBarv0 .right >ul > li #navicon{padding: 10px; font-size: 2.8rem;}
.navBarv0 .right >ul > li:hover #navicon{cursor: pointer;z-index: 99; background-color: #D9D9D9; border-radius: 50%; padding: 10px; font-size: 3.1rem; transform: translateY(10px);}
.navBarv0 .right >ul > li #navSicon:hover{background-color:#D9D9D9; padding: 10px; font-size:2rem; border-radius: 50%;}
.navBarv0 .right > ul >li > ul{font-size:small; display:none; text-align: left; line-height: 20px;z-index: -1; overflow: hidden; padding:20px 0px;}
.navBarv0 .right ul li ul li{margin: 0; cursor: pointer;padding:10px;}
.navBarv0 .right ul li ul> .cartQVLitem{padding:10px;}
.navBarv0 .right ul li ul li:hover{background-color: rgba(240, 240, 240, 0.693);}
.navBarv0 .right ul li:hover ul{display: block;}
.navBarv0 .right >ul >li #userIcon{cursor: pointer; font-size: 1.2rem;}
.navBarv0 .right >ul >li:hover #userIcon{transform: translateY(10px);}

/* Navbar userMenu styling */
.navBarv0 .right ul li .userMenu{width: 200px; height:auto;background:#F9F9F9;position:absolute;top:51px;right: 2px; z-index:-1; display:flex; flex-direction: column;align-items:center; display: none; border-radius: 20px; padding-left: 0; padding-bottom: 20px;}
.navBarv0 .right ul li .userMenu li:hover{cursor: pointer;background-color: rgb(227, 227, 227);color: #44423f;}
.navBarv0 .right ul li .userMenu li{width:100%;line-height: 20px;vertical-align: middle;align-content:center; padding-left:20px;}
.navBarv0 .right ul li .userMenu li span{display: inline-block;font-size: small; margin-left: 5px;}
.navBarv0 .right ul li .userMenu li #uMicon{display: inline-block;font-size: large;}
.navBarv0 .right ul li .userMenu li:nth-child(5) span{margin-left: 8.5px; margin-right:0px; color:black}
.showMenu{display: block;}

/* NavBar Cart  Quick listview */
.cartQview, .favQview{width:300px; min-height: 100px; position:absolute;right:5px;top:51px;background-color: #F9F9F9;display: none;border-radius: 20px;}

/* Search bar styling */
.navSearchBar{ width:100%;height: 30px; padding: 3px 10px; font-size: medium; border-radius:20px; background-color: #F9F9F9; display: flex; flex-direction: row; overflow: hidden;visibility: hidden;}
.navSearchBar .sBarleft{position:relative; align-self: center;}
.navSearchBar .sBarcenter{width: calc(100% - 225px); position: relative;align-self: center; padding-left: 20px;}
.navSearchBar .sBarright{align-self:center;position: absolute; right: 1px;}
.navSearchBar .sBarright .MuiButton-root{background-color:#44423f; height: 20px; border-radius: 20px;font-weight: 300; min-height: 28px;}
.navSearchBar .sBarright .MuiButton-root:hover{background-color: #696663;}
.sBarcenter input{width: 100%; border: none;}
.sBarcenter input:focus{outline: none;}

.searchResult{width:95%; min-height:100px; background-color: #F9F9F9; height: auto; position:absolute; margin: 2px 2.5%; padding-top: 10px; display: none;border-radius: 20px; overflow-x: hidden;}
.searchResult ul{padding-left: 0;}
.searchResult ul li{list-style: none; width: 100%; padding-left: 20px;}
.searchResult ul li:hover{cursor: pointer; background-color: #c9c9c9; color: #000;}
.sBarColor{background-color:#FFF;}

.showDiv{display: block;}
.showOpacity{opacity: 1;visibility: visible;}
.navBarv0 .right .MuiIconButton-root{border-radius: 50%; font-size: 1.5rem; color: #000;}

/* Cart item list styling */
.cartQVLitem{display: flex;flex-direction: row;justify-items: center; height: 80px;}
.cartQVLitem .cqVLImg{vertical-align: middle; align-self: center;}
.cartQVLitem .citVNamePrice{line-height:12px; margin-top: 0; vertical-align: middle; align-self: center; width: 160px; padding-left: 10px;}
.cartQVLitem .citVNamePrice #citN{font-weight:510; font-size:0.75rem; margin-bottom: 0px;}
.cartQVLitem .citVDelete{vertical-align: middle; align-self: center; cursor: pointer; font-size: x-large;visibility: hidden;}
.cartQVLitem:hover{border-bottom:0.5px solid grey;}
.cartQVLitem:hover .citVDelete{visibility: visible;}
.cartQVLitem .citVDelete:hover{color: red;}
.cartQview .cartQVLitem .cqVLImg{width:80px;height:100%;display: block;background-repeat: no-repeat; background-size:cover;}
.cartQview button{border-radius: 20px; font-size: small;font-weight: 300; color:#FFF; background-color: #000;height:15px; width: 100px; line-height: 12px; margin-top: 20px; margin-left: 190px; align-self:center;}

/* Featured itemCard Large and Small  -- cC:cardContainer */
.cC-fLarge{
    width: 250px; 
    height: 400px;
    padding: 0;
    background-color:#FFF;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    }

    .FtitemIMGL{
        padding: 0;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
       
    }
  .cC-fLarge  .itemPrice{
        width:100%; 
        position: absolute; 
        bottom: 30px; 
        font-size: 16px; 
        font-weight: 600; 
    }
    .cC-fLarge p{text-align: center;}
    .cC-fLarge .itemName{font-weight: 500;margin-top: 15px; font-size: 13px;}
    .cC-fLarge .favoriteIcon{position: absolute;right:1px;top:1px; font-size: 20px;background-color: #D9D9D9;color: #FFF; border-radius: 50%; width: 25px;height: 25px; padding:3px; cursor: pointer;}
    .cC-fLarge .itemConditionTag{position: absolute;top: 35px; background-color: #dfd9d3;width: 60px; border-radius: 0 10px 10px 0px;font-size:small; font-weight: 200;}
    .cC-fLarge .shoppingcartIcon{position: absolute;bottom:-5px;right:-5px; font-size: 20px;background-color: #D9D9D9;color: #FFF; border-radius: 50%; width: 45px;height: 45px; padding:9px;cursor: pointer;}
.cC-fSmall{
        width: 150px; 
        height: 200px;
        padding: 0;
        background-color:#FFF;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
        overflow: hidden;
        }


/* General Categories Styling */
.GCMenu_Container {width: 100%; height:100px;display: flex; z-index: 99; position: relative;}
.GCMenu_Container ul{width: 100%; height: 100%; display: flex; align-content: center; align-items: center; gap: 20px; position:relative;}
.GCMenu_Container ul li{ list-style: none; width:80px; height:80px; background-color: #FFF; border-radius:10px; text-align: center; cursor: pointer; position: relative;} /* height will be adjusted to 80px to accomodate background image */
.GCMenu_Container ul li:hover{transform: scale(1.02);box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);}
.GCMenu_Container ul li .CatgName{position: relative; top: 10px; font-size: small; }
.GCMenu_Container ul li .CatgIcon{font-size: 50px;}

/* Categories submenu */
.GCMenu_Container ul li > ul{background-color: #FFF; color: #FFF;width:90vw;height: 300px; border: 0.5px solid #D9D9D9; top: 8px; display:none; position:relative;padding: 0;}
.GCMenu_Container ul li > ul li {width:100%; height: auto; background-color: transparent; cursor: pointer; color: #000; border-radius: 0px;}
.GCMenu_Container ul li ul li:hover{ background: #D9D9D9;}
.GCMenu_Container ul li:hover ul{display:inline-flex; z-index: 999;}

/*Item listing style */

:root{
    --primaryCardColor:#F9F9F9;
}

.listDetail, .listSpecs, .listDesc, .listPrice, .listPhotos{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color:var(--primaryCardColor) ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;

}

.listDetail .ConTyQty{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;


}
.ConTyQty .Qty > p {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF;
}

.listDesc > textarea{
    display: block;
    width: 100%;
    height: 50%;
    outline: none;
    padding: 10px;

}

.listPrice{flex-direction: row; justify-content: space-between; align-content: flex-start;}

.listPhotos{
    height: 500px;
    background-color: #FFF;
}
.listPhotos ol{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px ,auto);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    justify-content: center;
}

.listPhotos ol li{ 
    display: flex;
    background-color: #e7e7e759;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.listPhotos ol li:nth-child(1){
    grid-row:1/3;
}
